<?xml version="1.0" encoding="UTF-8"?>
<suite name="Advanced SDET Automation Suite" parallel="methods" thread-count="4">

    <test name="UI Tests" parallel="methods" thread-count="2">
        <classes>
            <!-- Add your UI test classes here -->
            <!-- <class name="com.sdet.tests.SampleUITest" /> -->
        </classes>
    </test>

    <test name="API Tests" parallel="methods" thread-count="2">
        <classes>
            <!-- Add your API test classes here -->
            <!-- <class name="com.sdet.tests.api.SampleAPITest" /> -->
        </classes>
    </test>

</suite>