<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Advanced Automation Suite" parallel="tests" thread-count="2">

    <test name="Regression Suite">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductTest"/>
            <class name="api.UserAPITest"/>
        </classes>
    </test>

</suite>